<form action="/emp/called" method="post">
    <label for=""></label>
    <input type="text" name="nomeFuncionario" id="">
    <label for="">Tipo de ocorrencia</label>
    <select name="tipo" id="">
        {{#each ocorrencias}}
            <option value="{{id}}">{{status}}</option>
        {{/each}}
    </select>
    <input type="text" name="desc" id="">
    <input type="submit" value="Registrar ocorrencia">
</form>