<link rel="stylesheet" href="/css/registro.css">
<form action="/emp/loggin" method="post">
    <label for="">Email ou cnpj</label>
    <input type="text" name="email" id="">
    <label for="">Senha</label>
    <input type="text" name="senha" id="">
    <input type="submit" value="Entrar">
</form>