<link rel="stylesheet" href="/css/registro.css">
<form action="/emp/registering" method="post">
    <label for="">Nome</label>
    <input type="text" name="nome" id="">
    <label for="">Cnpj</label>
    <input type="text" name="cnpj" id="">
    <label for="">Telefone</label>
    <input type="text" name="telefone" id="">
    <label for="">Email</label>
    <input type="text" name="email" id="">
    <label for="">Senha</label>
    <input type="text" name="senha" id="">
    <label for="">CEP</label>
    <input type="text" name="cep" id="">
    <label for="">Rua</label>
    <input type="text" name="rua" id="">
    <label for="">Bairro</label>
    <input type="text" name="bairro" id="">
    <label for="">Cidade</label>
    <input type="text" name="cidade" id="">
    <input type="submit" value="Cadastrar">
</form>